# PYTHON WEEK ONE

# 1. Installation and "HELLO WORLD"

In [10]:
print("Hello World")

Hello World

In [11]:
print(123)

123

#  Markdown 
----
<pre>
Headings use : #

for bold : **word**
for italics _word_ or *word*

Unordered list use : - or *
Ordered lists simply use numbers
For lists you press tab to begin a sublist

To write a paragraph as it is i use :"pre"
To insert new lines : "br"

Formulars : $ $
Fractions : \frac{Numerator}{Denominator}
Superscripts in equations : ^ or ^{}
Subscripts in qpuations : _ or _{}

text links : [text](link)
images : ![alternative text](link)

To change font formating use the "font" tag and edit the properties

Badges : check out : https://shields.io/ to create your custom badge
For our twitter case , go to social ,then scroll to twitter and click ,
you'll be redirected to another page. Edit the details to create your badge,
Copy for Markdown

OR

https://img.shields.io/badge/LABEL-MESSAGE-COLOR

</pre>

# Heading 1
## Heading 2
### Heading 3
#### Heading 4
##### Heading 5 
###### Heading 6

----
### Fonts
<font color = lightgreen>Chaptr 2021</font> <br>
<font size = 7, font color = orange>Chaptr 2021</font> <br>
<font color = yellow>Chaptr 2021</font> <br>

----
### Paragraph formatting
<pre>
Welcome To chaptr 
If you have any questions 
be sure to ask
</pre>

<br>
Welcome To chaptr <br>
If you have any questions <br>
be sure to ask <br>

----

### Ordered and unordered Lists

- Cars
- House
- Plants

1. Cars
2. House
3. Plants

1. Cars
    - BMW
    - VOLVO
    - MERCEDES
2. Houses
    1. Mansionnetes
    2. Huts
    3. Bedsitters
3. Plants
    * Maize
    * Beans

----
### HyperLinks
[Chaptr Global Home](https://chaptrglobal.com/)

![Rhino](https://www.google.com/search?q=images&tbm=isch&source=iu&ictx=1&fir=cjZ0LilU5gLITM%252CVR-Fu_i6IKUJuM%252C_&vet=1&usg=AI4_-kQw3utABxLSIwIuh54DQauHxO4sJw&sa=X&ved=2ahUKEwiIpqrSg47zAhX0BWMBHfp5CykQ9QF6BAgIEAE#imgrc=cjZ0LilU5gLITM)

![Rhino]()

----
### Badges
![twitter](https://img.shields.io/badge/twitter/url?url=https://twitter.com/StateHouseKenya?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor)

![Twitter Follow](https://img.shields.io/twitter/follow/StateHouseKenya?style=social)

![Twitter URL](https://img.shields.io/twitter/url?label=StateHouseKenya&style=social&url=https%3A%2F%2Ftwitter.com%2FStateHouseKenya%3Fref_src%3Dtwsrc%255Egoogle%257Ctwcamp%255Eserp%257Ctwgr%255Eauthor)

![HTML](https://img.shields.io/badge/HTML-5-yellowgreen)<br>
![HTML](https://img.shields.io/badge/HTML-orange) ![PYTHON](https://img.shields.io/badge/PYTHON-blue) ![SQL](https://img.shields.io/badge/SQL-grey)

----
### Writing Equations in Markdowns

$e^{i\pi} + 1 = 0$
$$e^{i\pi} + 1 = 0$$

<font size=4>
$e^x=\sum_{i=0}^{12} \frac{1}{i!}x^i$
$$e^x=\sum_{i=0}^{12} \frac{1}{i!}x^i$$
</font>

$\begin{equation*}
e^x=\sum_{i=n}^{m} \frac{1}{i!}x^i
\end{equation*}$


$\left(e^x=\sum_{i=n}^{m} \frac{1}{i!}x^i\right)$

<font size=4>
$e^x=\sum_{i=0}^\infty \frac{1}{i!}x^i$
</font >

### Writing Matrices in Markdowns
$\begin{bmatrix}
1 & 2 & 3 \\
a & b & c \\
a & b & c \\
\end{bmatrix}$

$\left(\begin{array}{cc} a & b \\ c & d \end{array}\right)$


$\begin{equation*}
A_{m,n} = 
\begin{pmatrix}
a_{1,1} & a_{1,2} & \cdots & a_{1,n} \\
a_{2,1} & a_{2,2} & \cdots & a_{2,n} \\
\vdots  & \vdots  & \ddots & \vdots  \\
a_{m,1} & a_{m,2} & \cdots & a_{m,n} 
\end{pmatrix}
\end{equation*}$

----
### Tables

| |Student |Marks|
|-|--------|-----|
|1|Newton | 93|
|2|Cauchy | 90.13|
|3|Isaac | 89|
|4|Laplace| 87.4|
|5|Euler |83|

## 2. Variables, Expressions, & Statements

## Variables

In [12]:
a = 2
type(a)

int

In [13]:
a = 2.2
type(a)

float

In [2]:
A = 2
b = "Chaptr"
c = 4.32
d = True

## Expressions

In [2]:
3+2 # Addition
3-2 # Subtraction
3%2 # Modulus
3/2 # Division
3*2 # Multiplication
3**2 # power

9

In [3]:
print(45/3.0, "\n", 45//3, "\n", 45%3 )

15.0
 15
 0

In [18]:
b = 33 # Assignment operator
b

33

In [19]:
b == 33 # Comparison Operator

True

In [20]:
b == 22

False

In [21]:
b != 22

True

In [6]:
# != Not Edual to
# < , >  greater than and less than
# <= , >= greater/less than and equal to

In [7]:
c,n = 212 ,99
c < n

False

In [23]:
x = 12
x =- 1 # Assignment --- Similar to x = -1
print(x)
x -= 1 # decrement
print(x)
x =+ 1 # Assignment --- Similar to x = +1
print(x)
x += 1 # Increment
print(x)

12
11
1
2

## 3. Conditional Execution, Loops and Functions

### Conditionals

In [ ]:
if (condition):
    statement

In [ ]:
if ():
    st
else:

In [ ]:
if ():
    st
elif():
    st
elif():
    st
else:
    st

In [ ]:
if c>n:
    print("Went here")
    print(c," is larger ",n)
else:
    print("Went here")
    print(n," is larger ",c)

In [ ]:
name = "Charles"

if name == "Peter":
    print("True")
else:
    print(name)

In [ ]:
# Grading System
# Grade should be between 100 and  0
# More than 80 , grae =A
# 79-70 ,B
# 69-60 , C
# 59-50 , D
# less than 50, E

In [ ]:
#Try it with the following inputs
45, 66.7, 100

In [ ]:
# WRITE YOUR CODE HERE

### LOOPS
```
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
* 
```

Loops can create patterns like the one above <br>
Loops work with all iterable objects ; in python this include strings , list, dictionaries which you'll learn about later on

#### while and for loops

In [ ]:
while (condtion to be met):
    what to do

In [ ]:
for item in iterable :
    do xyz

In [ ]:
number  = 5
while number < 20:
    print(number)
    number += 1

In [ ]:
for i in range(10 , 0 , -1 ):
    if i == 5:
        break;
    print(i)

In [ ]:
for i in "Chaptr 2021 Global": 
    print(i)

In [ ]:
for i in range(6):
    for j in range(i):
        print("*",end=' ')
    print("\n")

In [ ]:
for i in range(6,0,-1):
    for j in range(i):
        print("*",end=' ')
    print("\n")

### Functions

In [ ]:
def function_name (parameters):
    #what to do
    return

In [ ]:
def age (year_born , current_year): 
    return current_year - year_born 

persons_age = age(1997,2021)
print(persons_age)

In [ ]:
def calc(large,small,medium=6): #
    return large - small*medium

calc(9,3, medium=1)

In [ ]:
# Default arguments always follow non-default argument  
# for the example above if we were to switch medium to before any of the other parameters it would result in an error
def calc(medium=6,large,small):
    return large - small*medium

calc(9,3, medium=1)

In [ ]:
# List mapping will be explained after Lists
# Lambda and apply functions will be explained after Pandas
# Better explained after pandas

In [ ]:
# recursion
def add_consecutive_numbers(number , TIMES_TO_ADD):
    global start_number
    if TIMES_TO_ADD > 0 :
        TIMES_TO_ADD -= 1
        start_number += number
        return add_consecutive_numbers(number+1 , TIMES_TO_ADD)
    else : 
        return start_number

In [ ]:
start_number = 2
result  = add_consecutive_numbers(start_number+1 , 12)
result

In [ ]:
2+3+4+5+6+7+8+9+10+11+12+13+14

# EXERCISE
#### WRITE CODE TO CREATE THE FOLLOWING PATTERNS

```
* 
* * 
* * * 
* * * *
```

### Next
```
* * * *
* * * 
* *
*
```

### Next
```
   * 
  * * 
 * * * 
* * * * 
```

### Next
```
* * * * 
 * * *  
  * *
   *
```

### Next
```  
   * 
  * * 
 * * * 
* * * * 
  * *
  * *
```

### Next
```   
    * 
   * * 
  * * * 
 * * * * 
* * * * * 
 * * * * 
  * * *  
   * *
    *
```

### Next
```
 * * * * 
  * * *  
   * *  
    * 
   * * 
  * * * 
 * * * * 
 ```

### Write a function that takes in weight and height and calculates the BMI of an individual

### Write a function to compute the fibonnacci sequence 
#### 1, 1, 2, 3, 5, 8, 13, 21, 34....
#### (Given a number n it should compute the fibonacci number at position n)
#### e.g from th above, fibonacci for n = 4 is 5 and fibonacci for n = 9 i1 34